# Composer

composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Syscrack

/data/config/database/connection.json
/data/log/
/data/config/errorlog.json
/data/config/betakeys.json

/data/addresses/
/data/accounts/
/data/logs/
/data/market/

# Uncomment to start excluding resources
# /resources/

# Uncomment to stop excluding themes
/themes/

# PHPStorm

/.idea/

#Apache

.htaccess

