# Composer

composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Syscrack

/config/database/connection.json
/config/activelog.json
/config/errorlog.json
/config/betakeys.json

/data/addressdatabase/
/data/bankdatabase/
/data/logs/
/data/retailer/
/data/market/

# Comment this line if you would like to share your NPC schema files
/data/npc/

# PHPStorm

/.idea/

#Apache

.htaccess

